<footer id="footer">
  <p>Feel free to use or fork any code from this project on <a href="https://github.com/Toyonut/licenseApi">Github</a>. <br>
  This work is freely available under an <a href="https://github.com/Toyonut/licenseApi/blob/master/LICENSE">MIT license</a>.</p>
</footer>
