<header id="heading">
  <h1 style="padding-left: 5%;">License Api</h1>
  <h2 style="padding-left: 5%;">An API for retrieving licenses programatically.</h2>
  <ul>
    <li style="padding-left: 5%;"><a href="/">Home</a></li>
    <li><a href="/howto">How to</a></li>
  </ul>
</header>
