<!DOCTYPE html>
<html>

<head>
  <title>License API</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/js/site.js"></script>
</head>

<body>
  <%- include('partials/header') -%>
    <div class="content" id="license_links">
      <h3>Using the api</h3>
      <p>You can use it by doing stuff</p>
      <h3>License Links:</h3>
    </div>
  <%- include('partials/footer') -%>
</body>

</html>
