<!DOCTYPE html>
<html>
  <head>
    <title>License API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="/js/site.js"></script>
  </head>
  <body>
    <header id="heading">
      <h1>License Api</h1>
      <h2>An API for retrieving licenses programatically.</h2>
    </header>
    <div id="choose_license">
      <p>Choose a License:</p>
      <form id="license_form" action="/" method="post">
        <select name="license" id="license_selector">
        </select>
        <p>Pre-Populate variables:</p>
        <input type="text" name="email" value="Email">
        <input type="text" name="name" value="Project or User Name">
        <input type="submit" id="submit_license">
      </form>
    </div>
    <div id="license_text">
      <h3><%= license_name; %></h3>
      <p id="text_area"><%= license_text; %></p>
    </div>
    <div id="content">
      <p>License Links:</p>
    </div>
    <footer id="footer">
      <p>Feel free to use or fork any code from this project on <a href="https://github.com/Toyonut/licenseApi">Github</a>.</p>
    </footer>
  </body>
</html>
