html, body {
  padding-right: 10%;
  padding-left: 10%;
  color: darkslategray;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
}

#heading {
  padding-left: 10%;
  padding-right: 10%;
  background-color: whitesmoke;
}

#content {
  padding-left: 10%;
  padding-right: 10%;
  background-color: whitesmoke;
  flex: 1 0 auto;
}

#footer{
  padding-left: 10%;
  padding-right: 10%;
  background-color: whitesmoke;
  flex-shrink: 0;
  text-align: center;
 }

a {
  color: #00B7FF;
}

